*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    gap:2vw
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.MuiPopper-root
{
    /* position: absolute; */
    /* transform: translate3d(52.508px, 163.424px, 0px) !important; */
  transform:  translate3d(31vw, 27vh, 0px) !important

}